appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolve
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
seaborn
six
stack-data
statsmodels
tornado
traitlets
tzdata
wcwidth
pyreadstat
linearmodels
streamlit
plotly